language: node_js
node_js:
  - '0.12'

sudo: false

notifications:
  email: false

deploy:
  provider: npm
  email: me@traviswebb.com
  api_key:
    secure: QvHzpxAh8ysanGSt/ddZUqwtge7WlIS2R+qW667uW2fQ+XCtOwB3M0PzTab+tJ3lnRTUrHhThpKHXnOfGAkyUUoxfYg5rBRSeOv7xakpAqP6npCLR49OcjvcNqTowxuTgsj770Kgfx+uLS68sUaTcBxeZdZqdymcRj6QZ3RhFU0=
  on:
    tags: true
    repo: tjwebb/sails-auth
